.chats .chats_list {
  border-top: 1px solid #F5F1F5;
}

.chats_list .chats_chat {
  padding:15px;
  border-bottom: 1px solid #F5F1F5;
}

.chats_chat .chat_content img {
  width:50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.chats_list .chats_chat a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.chats_chat .chat_content {
  display: flex;
  align-items: flex-start;
}

.chat_content .chat_preview {
  padding-top: 10px;
}
.chat_preview .chat_user {
  font-weight: 600;
  margin-bottom: 15px;
}

.chat_preview .chat_last-message {
  color:#b4b4b4;
  font-size: 11px;
}

.chats_chat .chat_date-time {
  color: #b4b4b4;
  font-size: 11px;
  padding-top: 15px;
}

.chats .chat-btn {
  background-color: #ffe94a;
  width:45px;
  height:45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 20px;
  border-radius: 50%;
  right:20px;
  bottom:80px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: crosshair;
  transition: color 0.3s, background 0.3s, transform 0.3s ease-in-out;
}

.chat-btn:hover {
  background-color: black;
  color: white;
  transform: rotateY(1turn);
}

.header_text .fa-caret-down {
  margin-left: 2px;
}
