.tab-bar {
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.tab-bar .tab-bar_tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-bar .tab-bar_tab i {
  margin-bottom: 5px;
}

/*2-4, 4:43*/
